{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="main-container">
        <div class="left-content">
            <form id="chatForm">
                {% csrf_token %}
                <label for="user_input">Enter your message:</label><br>
                <textarea id="user_input" name="user_input" rows="10" cols="50" required></textarea><br><br>
                <input id="date_input" type="datetime-local" name="schedule_time">
                <input type="submit" value="Send"><input id="test-button" type="button" value="Default Test">
            </form>
            <a href="{% url 'reset_user_data' %}">Clear User Data</a>
            <br><br>
            <div id="conversation">
                {% include 'conversation_fragment.html' %}
            </div>
        </div>
        <div class="right-content">
            <div id="tasks">
                {% include 'task_list_fragment.html' %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/chatbot.js' %}"></script>
</body>
</html>